* {
    margin: 0;
    padding: 0;
    box-sizing: content-box; 
}

:root {
    font-family: 'Alice', sans-serif; 
    line-height: 1; 
    color: #573a37;
}

body {
    background-image: url('assets/bg.png'); 
    background-size: contain; 
    background-repeat: repeat;
    
}

#page {
    box-sizing: content-box; 
    width: 800px;
    padding: 15px; 
    background-color: #f0e8c2; 
    border-radius: 25px; 
    margin: 40px auto; 
}

#page img {
    border-radius: 0%; 
    margin-left: 25px;
margin-top: 20
px;
}

main {
    padding: 20px; 
}

section + section {
    margin-top: 15px; 
}

#about p + p {
    margin-top: 10px; 
}

h1 {
    line-height: 1.2; 
    font-size: 35px; 
}

h2 {
    font-size: 25px; 
}

h1,
h2 {
    margin-bottom: 20px; 
    color: #000; 
    font-weight: 500;
}

ul {
    margin-bottom: 20px; 
}

footer {
    color: #f0e8c2; 
    text-align: center; 
    padding-bottom: 10px; 

}

footer img {
    vertical-align: top; 

}
li {
    margin-left: 30px;
    margin-top: 10px;
    
}